<div class="resume">
        <div class="block block1">
            <div class="name-title">
                <h1></h1>
                <h2></h2>
            </div>
            <div class="personal-info">
                <ul>
                    <li>Email: <p id="email"></p>
                    </li>
                    <li>Phone: <p id="tel"></p>
                    </li>
                    <li>www: <p id="web"><a href="#"></p></a></li>
                    <br>
                    <li>Gender: <p id="gender"></p>
                    </li>
                    <li>Height: <p id="height"></p>
                    </li>
                    <li>Weight: <p id="weight"></p>
                    </li>
                    <li>Hair: <p id="hair"></p>
                    </li>
                    <li>Eyes: <p id="eyes"></p>
                    </li>
                    <li>Vocal: <p id="vocal-range"></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="block block2">
            <div class="edu-train-skill">
                <div class="education">
                    <h3>Education</h3>
                    <ul>
                        <li></li>
                    </ul>
                </div>
                <div class="training">
                    <h3>Training</h3>
                        <ul>
                            <li></li>
                        </ul>
                </div>
                <div class="skills">
                    <h3>Skills</h3>
                        <ul>
                            <li></li>
                        </ul>
                </div>
            </div>
        </div>
        <div class="block block3">
            <div class="block3-top">
                <div class="headshot" value="0">
                    <img id="headshot" src="/images/confused-emma.jpg" alt="headshot" />
                    <img id="zoom-in" src="/images/icons8-macos-full-screen-96.png" alt="zoom-in headshot">
                    <img id="close" src="/images/icons8-macos-close-96.png" alt="zoom-in headshot">
                </div>
            </div>
            <div class="work-experience">
                <div class="theatre-exp">
                    <h3>Theatre</h3>
                    <ul>
                        <li>
                            <div class="production">
                                <h5></h5>
                                <div class="title-ph">
                                    <h6></h6>
                                    <p></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="film-exp">
                    <h3>Television and film</h3>
                    <ul>
                        <li>
                            <div class="production">
                                <h5></h5>
                                <div class="title-ph">
                                    <h6></h6>
                                    <p></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="other-exp">
                    <h3>Other</h3>
                    <ul>
                        <li>
                            <div class="production">
                                <h5></h5>
                                <div class="title-ph">
                                    <h6></h6>
                                    <p></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
<% include ../partials/scripts %>