<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Member Gallery</title>
  </head>

  <body>
    <section class="simple-top-nav">
      <a class="navbar-brand" href="#"
        ><img src="/images/simple-logo.png" style="height: 30px; padding: 20px;"
      /></a>
    </section>
    <section class="wall">
      <!-- include resume -->
      
      <div class="gallery">
        <div class="card-deck">
          <% for (let i of members) {%>
          <div class="card">
            <img class="card-img-top" src="#" alt="Card image cap" />
            <div class="card-body">
              <div class="hs">
                <h5 class="card-title"><%= i.profile.name %></h5>
                <h6 class="card-subtitle mb-2 text-muted">
                                <form class="form-resume" method="GET" action="/users/gallery/<%=  i.id %>">
                                    <input class="resume-btn" type="submit" value="Resume" />
                                </form>
                  <!-- emsp = 4 spaces -->
                  <!-- TODO: get title from resum -->
                  &emsp;<%= i.resume %>

                </h6>
              </div>
            </div>
          </div>
          <% }%>
        </div>
      </div>
    </section>
    <div>
      <% include ./partials/scripts %>
    </div>
  </body>
</html>
