<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" /> -->
    <title>Memeber Gallery</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/gallery-style.css" />
    <link rel="stylesheet" href="/stylesheets/resume-style.css" />
  </head>

  <body>
    <section class="simple-top-nav">
      <a class="navbar-brand" href="#"
        ><img src="/images/simple-logo.png" style="height: 30px; padding: 20px;"
      /></a>
    </section>
    <section class="wall">
      <!-- include resume -->
      <form class="form-signin" method="GET" action="/users/gallery">
        <div class="gallery">
          <div class="card-deck">
            <div class="card">
              <img class="card-img-top" src="#" alt="Card image cap" />
              <div class="card-body">
                <div class="hs">
                  <h5 class="card-title">Card Title</h5>
                  <!-- emsp = 4 spaces -->
                  <h6 class="card-subtitle mb-2 text-muted">
                    &emsp;Subtitle, Poop
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </section>
    <div>
      <% include ./partials/scripts %>
    </div>
  </body>
</html>
